# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.git
.gitignore
.env
adapters/env/secrets.json
adapters/env/secrets.json.example

# Dependencies
node_modules/

# Tests
**/*test.js
tests/
test-*/
coverage/

# CI/CD
.github/

# Local development
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
*.iml
*.swp
.DS_Store